﻿<div class="row table-responsive">
    <table class="table">
        <thead>
            <tr>
                <td><b>Tiny Url</b></td>
                <td><b>Link</b></td>
                <td><b>Created By</b></td>
                <td></td>
            </tr>
        </thead>
        <tbody id="search-body">
            <tr>
                <td colspan="4">Loading ...</td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts
{
    <script type="text/javascript">
        var userId = "25A71ADF-F126-4125-8164-8F22E2A17921";
        $(document).ready(function() {
            Search();

            $("body").on('click', '.remove', function(e) {
                var id = $(e.currentTarget).data("id");
                Remove(id);
            });
        });

        function Remove(id) {
            swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover this Tiny Url!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                },
                function() {
                    $.ajax({
                        url: '/api/Url/' + id,
                        type: "delete",
                        dataType: "json"
                    }).success(function(data) {
                        swal("Deleted!", "The tinyurl was successfully deleted.", "success");
                        $("tr[data-id='" + id + "']").remove();
                    }).error(function(data) {
                        var json = JSON.parse(data.responseText);
                        sweetAlert("Oops...", json.ExceptionMessage);
                    });
                });
        }

        function Search() {
            var search = "@ViewBag.Search";
            $.ajax({
                url: '/api/Search/' + search,
                type: "get",
                dataType: "json"
            }).success(function(data) {
                ShowSearchResults(data);
            }).error(function(data) {
                var json = JSON.parse(data.responseText);
                sweetAlert("Oops...", json.ExceptionMessage);
            });
        }

        function ShowSearchResults(data) {
            var source = $("#search-template").html();
            var template = Handlebars.compile(source);
            var html = template(data);
            $("#search-body").html(html);
        }

    </script>

    <script id="search-template" type="text/x-handlebars-template">
        {{#if length}}
        {{#each .}}
       <tr data-id="{{Id}}" class="tinyurl-row">
           <td>
               <a href="{{ShortLink}}" target="_blank">{{ShortLink}}</a>
           </td>
           <td>
               {{Link}}
           </td>
           <td>
               {{User.FirstName}} {{User.LastName}}
           </td>
           <td class="remove" data-id="{{Id}}">
               <i class="glyphicon glyphicon glyphicon-remove"></i>
           </td>
        </tr>
        {{/each}}
        {{else}}
            <tr>
                <td colspan="4">No results found.</td>
            </tr>
        {{/if}}
</script>
}
