﻿<div class="jumbotron">
    <h1>Tiny Url Generator</h1>
    <p class="lead">A Simple Tiny Url Generator. Enter a link below to generate a url.</p>
    <div class="row">
        <div class="col-sm-4">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">@@</span>
                <input type="text" class="form-control" placeholder="Enter a link here ..." aria-describedby="sizing-addon1" id="link">
            </div>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-lg btn-primary" id="generate">
                Generate
            </button>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="row well well" style="display:none" id="tinyurl">

    </div>
</div>

@section scripts
{
<script type="text/javascript">
    var userId = "25A71ADF-F126-4125-8164-8F22E2A17921";
    $(document).ready(function () {
        $("#generate").click(function (e) {
            Generate();
        });

        $("#link").keypress(function (e) {
            var key = e.keyCode || e.which;
            if (key == 13) {
                Generate();
            }
        });
    });

    function Generate() {
        var link = $("#link").val();
        $("#tinyurl").hide();
        $.ajax({
            url: '/api/Url',
            type: "post",
            dataType: "json",
            data: {
                UserId: userId,
                Link: link
            }
        }).success(function (data) {
            ShowUrl(data);
        }).error(function (data) {
            var json = JSON.parse(data.responseText);
            sweetAlert("Oops...", json.ExceptionMessage);
        });
    }

    function ShowUrl(data) {
        $("#link").val("");
        var source = $("#tinyurl-template").html();
        var template = Handlebars.compile(source);
        var html = template(data);
        $("#tinyurl").html(html);
        $("#tinyurl").show();
    }
</script>

<script id="tinyurl-template" type="text/x-handlebars-template">
    <p>
        Tiny Url Created for {{Link}}: <br />
        <a href="{{ShortLink}}" target="_blank">{{ShortLink}}</a>
    </p>
</script>
}
