﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="/Content/sweetalert.css">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">TinyUrl Generator</a>
            </div>
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" role="search" id="search-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search Existing Urls ..." id="search-text">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="/Scripts/handlebars.js"></script>
    <script type="text/javascript" src="/Scripts/sweetalert.js"></script>
    @RenderSection("scripts", required: false)
    
    <script type="text/javascript">
        $(document).ready(function() {
            $("#search-form").submit(function(e) {
                e.preventDefault();
                var search = $("#search-text").val();
                window.location = "/Search/" + search;
            });
        });
    </script>
</body>
</html>
